.Links-Section {
    background-image: url("../src/assets/img/footer-bg.jpg");
    background-size: cover;
}

.Default-Imgsize {
    height: 50px;
    width: 65px;
}

.Anchor-NoEffect {
    text-decoration: none;
}

.Z-Index-First {
    z-index: 1;
}

.Z-Index-Last {
    z-index: 2;
}